{% extends "templates.html" %}

{% block body %}
  <div id="covid_information_table" >
    <table>
        <tr>
          <th></th>
          <th><h3>目前全国整体情况</h3></th>
          <th></th>
        </tr>
          <tr>
            <th><br></th>
          </tr>
        <tr>
            <th>本土现有确诊</th>
            <th>本土新增确诊</th>
            <th>本土新增无症状</th>
        </tr>
        <tr>
          {% for i in mainland_data %}
                <td>{{ i }}</td>
          {% endfor %}
        </tr>
        <tr>
            <th>全国累计确诊</th>
            <th>全国累计治愈</th>
            <th>全国累计新增确诊</th>
        </tr>
        <tr>
          {% for j in whole_data %}
                <td>{{ j }}</td>
          {% endfor %}
        </tr>
    </table>
  </div>

{% endblock %}