{% extends "templates.html" %}

{% block title %}目前全国整体情况{% endblock %}
{% block body %}
  <div id="covid_information_table" >
    <table>
        <tr>
          <th></th>
          <th><h3>目前全国整体情况</h3></th>
          <th></th>
        </tr>
          <tr>
            <th><br></th>
          </tr>
        <tr>
            <th>本土新增确诊</th>
            <th>本土新增无症状</th>
            <th>港澳台新增</th>
        </tr>
        <tr>
          {% for i in newly_added_data %}
            <td>+{{ i }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>现有本土</th>
          <th>现有无症状</th>
          <th>高风险地区数量</th>
      </tr>
      <tr>
        {% for j in mainland_data %}
            <td>{{ j }}</td>
        {% endfor %}
    </tr>
        <tr>
          <th>累计确诊</th>
          <th>累计治愈</th>
          <th>累计死亡</th>
      </tr>
      <tr>
        {% for k in overall_data %}
            <td>{{ k }}</td>
        {% endfor %}
      </tr>
      <tr>
        {% for l in overall_gap_data %}
            <td>（相较于昨天+{{ l }}）</td>
        {% endfor %}
    </tr>

    </table>
  </div>

{% endblock %}