{% extends "templates.html" %}

{% block title %}最近累计新增趋势图{% endblock %}

{% block body %}

  <!-- 生成近两周整体趋势象形柱状图 -->
  <div id="current_overall_confirm_bar_map" ></div>
  <script>
    $(
        function () {
            var chart = echarts.init(document.getElementById('current_overall_confirm_bar_map'));
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:2333/current_overall_confirm_line_map_data",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }
    )
  </script>

{% endblock %}