{% extends "templates.html" %}

{% block body %}
  <!-- 生成近两周整体趋势折线图 -->
  <div id="current_daily_line_map" ></div>
  <script>
    $(
        function () {
            var chart = echarts.init(document.getElementById('current_daily_line_map'));
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:2333/current_daily_line_map_data",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }
    )
  </script>
{% endblock %}