{% extends "templates.html" %}

{% block title %}风险地区查询{% endblock %}

{% block body %}
  <!-- 生成近两周整体趋势折线图 -->
  <div>
      <form form="#" method="post">
        <select name='province' id="province" onClick="get_province()">
              <option selected>--省份--</option>
        </select>
        <select name='city' id="city" onclick="get_city()">
               <option selected>--城市--</option>
        </select>
        <button>搜索</button>
      </form>
      <script src="static/js/area_select.js"></script>
  </div>
  <iframe id="risk_area_map" style="width: 1000px; height:1000px;">
  
  </iframe>
  <script>
    $(function(){
      $("button").click(function(){
         $(("iframe").load("risk_table.html"));
      });
    });
    </script>

{% endblock %}