{% extends "templates.html" %}

{% block title %}今日新增TOP5{% endblock %}

{% block body %}
<div id="today_confirm_add_top5_data_map"></div>
        <script>
        $(
          function () {
              var chart = echarts.init(document.getElementById('today_confirm_add_top5_data_map'));
              $.ajax({
                  type: "GET",
                  url: "http://127.0.0.1:2333/today_confirm_add_top5_data_map_data",
                  dataType: 'json',
                  success: function (result) {
                      chart.setOption(result);
                  }
              });
          }
        )
        </script>
      </div>

{% endblock %}