{% extends "templates.html" %}

{% block body %}
<div id="visual_China_map"></div>
        <script>
          $(
              function () {
                  var chart = echarts.init(document.getElementById('visual_China_map'), 'white');
                  $.ajax({
                      type: "GET",
                      url: "http://127.0.0.1:2333/visual_China_map_data",
                      dataType: 'json',
                      success: function (result) {
                          chart.setOption(result);
                      }
                  });
              }
          )
        </script>
        <br><br><br>

{% endblock %}